body{
   background-image:url(ab.jpg);
}
.custom-navbar {
    background-color:transparent;
}
.custom-card {
    background:linear-gradient(135deg, #00feba, #5b548a);
}
.custom-card2{
    background:linear-gradient(135deg, #00feba, #5b548a);
}
.custom-card3{
    background:linear-gradient(135deg, #00feba, #5b548a);
}
#submit{
    color: white;
}
